body{
    background-color:black;
}
h1{
    color:rgb(247, 6, 6);
    font-family:'Times New Roman', Times, serif;
}
h4{
    color:rgb(15, 15, 218);
    font-family: 'Times New Roman', Times, serif;
}
pre{
    color:rgb(197, 66, 164);
    font-family: 'Times New Roman', Times, serif;
}
